{% extends 'cats/base.html' %}

{% block content %}
<div class="profile">
    <h1>Tvoje fotky mačiek</h1>
    {% if user_cats %}
        <div class="gallery">
            {% for cat in user_cats %}
                <div class="gallery-item" data-cat-id="{{ cat.id }}">
                    <img src="{{ cat.image.url }}" alt="{{ cat.title }}">
                    <div class="overlay">
                        <div class="delete-button">
                            <form action="{% url 'delete_cat' cat.id %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn-delete">Odstrániť</button>
                            </form>
                        </div>
                        <div class="like-count">
                            <span>{{ cat.like_count }}</span>
                            <i class="fa-solid fa-heart"></i>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Ešte si nenahral/-a žiadne fotky mačiek</p> 
        <div class="upload-btn">
            <a href="{% url 'upload_cat' %}">Nahraj jednu teraz!</a>
        </div>
    {% endif %}
</div>

<a href="{% url 'upload_cat' %}">
    <div class="upload-image">
        <i class="fa-solid fa-paper-plane"></i>
    </div>
</a>
{% endblock %}
